<!DOCTYPE html>
<html>
  <head>
    <title>Doreads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section>
    <header>
      <%= render "navigation/navbar" %>
    </header>
    <section>
      <div class="container">
        <%= render "common/flash_messages" %> 
        <%= yield %>
      </div>
    </section>

    </section>
  </body>
</html>
